@import url("//fonts.googleapis.com/css?family=Lato"); 
@import url("//fonts.googleapis.com/css?family=Lato"); 
@import url("//fonts.googleapis.com/css?family=Lato"); 
@import url("//fonts.googleapis.com/css?family=Open+Sans"); 
@import url("//fonts.googleapis.com/css?family=Open+Sans"); 
@import url("//fonts.googleapis.com/css?family=Open+Sans"); 
   

.vc_custom_1550226252091 { 
    padding-top: 0px !important;
} 

@media all{ 
  .vc_column_container > .vc_column-inner  { 
    box-sizing: border-box; 
    padding-left: 15px; 
    padding-right: 15px; 
    width: 100%;
  } 

  .vc_row > .vc_column_container > .vc_column-inner  { 
    padding-top: 35px;
  } 

  .vc_column_container { 
    width: 100%;
  } 

  .vc_col-sm-12 { 
    position: relative; 
    min-height: 1px; 
    padding-left: 15px; 
    padding-right: 15px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  } 
}     

@media (min-width: 768px){ 
  .vc_col-sm-12 { 
    float:  left;
    width: 100%;
  } 
}     

@media all{ 
  .vc_column_container { 
    padding-left: 0; 
    padding-right: 0;
  } 

  .bbhd-overflow { 
    overflow: visible !important;
  } 

  .vc_row { 
    margin-left: -15px; 
    margin-right: -15px;
  } 

  .background_f2f6f8 { 
    background-color: #f2f6f8!important;
  } 

  .padding_top95 { 
    padding-top: 95px;
  } 

  .padding_bottom100 { 
    padding-bottom: 100px;
  } 

  .vc_row[data-vc-full-width] { 
    -webkit-transition: opacity .5s ease; 
    -o-transition: opacity .5s ease; 
    transition: opacity .5s ease; 
    overflow: hidden;
  } 

  article { 
    display: block;
  } 

  main { 
    display: block;
  } 

  .container { 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    width: 750px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    width: 970px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    width: 1170px;
  } 
}     

@media all{ 
  .container { 
    max-width: 1170px; 
    margin: 0 auto;
  } 

  .padding_top45 { 
    padding-top: 45px;
  } 

  :after,:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  } 

  *,:before,:after { 
    box-sizing: inherit;
  } 

  .vc_row:after,.vc_row:before { 
    content: " "; 
    display: table;
  } 

  .vc_row:after { 
    clear: both;
  } 

  .vc_column-inner:after,.vc_column-inner:before { 
    content: " "; 
    display: table;
  } 

  .vc_column-inner:after { 
    clear: both;
  } 

  .wpb_content_element { 
    margin-bottom: 35px;
  } 
}     

.vc_custom_1675571796099 { 
    margin-bottom: 0px !important;
} 

@media all{ 
  .wpb_text_column :last-child ,.wpb_text_column :last-child  { 
    margin-bottom: 0;
  } 

  article  { 
    width: 100%; 
    margin: 0 auto; 
    position: relative;
  } 

  ul { 
    box-sizing:     border-box;
    margin-top:    0; 
    margin-bottom:    10px;
    margin:  0; 
    list-style:  disc;
    padding: 0; 
    list-style-type: none;
  } 

  ul  { 
    display: flex; 
    top: 0; 
    z-index: 10; 
    padding-bottom: 14px;
  } 
}     

@media (min-width: 991px){ 
  ul  { 
    display: none;
  } 
}     

@media all{ 
  table { 
    border-spacing:   0;
    border-collapse:   collapse; 
    background-color:   transparent;
    margin: 0 0 1.5em; 
    width: 100%;
  } 

  table  { 
    border-collapse:  collapse; 
    table-layout:  fixed; 
    width:  100%;
    position: relative; 
    font-family: Lato,sans-serif; 
    color: #777; 
    z-index: 1;
  } 

  .pricing_table_d1 table  { 
    font-family: Lato,sans-serif; 
    color: #555555;
  } 

  li  { 
    list-style: none; 
    flex: 1;
  } 

  li:last-child  { 
    border-right: 1px solid #DDD;
  } 

  button { 
    margin:    0;
    font:    inherit; 
    color:  #ffffff; 
    overflow:       visible;
    text-transform:      none;
    -webkit-appearance:     button; 
    cursor:     pointer;
    font-family:   sans-serif; 
    font-size:  12px; 
    line-height:  1; 
    border-radius: 3px; 
    background: #fcb100; 
    padding: 10px;
  } 

  button  { 
    width: 100%; 
    border: 1px solid #ddd; 
    border-right: 0; 
    border-top: 0; 
    padding: 10px; 
    background: #029ef5; 
    font-size: 14px; 
    font-weight: bold; 
    height: 50px; 
    color: #fff;
  } 

  button:hover { 
    border-color: transparent;
  } 

  li.active button  { 
    background: #0f094b; 
    color: #fff;
  } 

  table tbody tr  { 
    border: 1px solid #f0f0f4;
  } 

  .pricing_table_d1 table tbody tr  { 
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  } 

  table tbody tr:first-child  { 
    border-left:  none; 
    border-top:  0;
    position: absolute; 
    top: 197px; 
    width: 100%; 
    border: none; 
    box-shadow: none;
  } 

  .pricing_table_d1 table tbody tr:first-child  { 
    position: inherit; 
    top: 197px; 
    width: 100%; 
    border: 1px solid #dddddd; 
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  } 

  th { 
    padding:   3px; 
    text-align:   center;
    border:  1px solid #fcb100; 
    color: #00b2f2;
  } 

  th  { 
    display:    none;
    background:    #F5F5F5; 
    height:   53px;
    border:  1px solid #f0f0f4; 
    padding:  10px 30px; 
    empty-cells:  show;
    text-align: left;
  } 
}     

@media (min-width: 991px){ 
  th  { 
    display:  table-cell !important;
    width: 380px;
  } 
}     

@media all{ 
  table thead tr th  { 
    position: relative; 
    z-index: 1; 
    font-size: 24px; 
    line-height: 36px; 
    font-weight: 400; 
    color: #fff; 
    background-color: #fff; 
    padding: 30px 20px; 
    box-shadow: 0 0 0 1px #f0f0f4; 
    border: none; 
    border-radius: 6px; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
  } 

  .pricing_table_d1 th  { 
    border: 1px solid #DDD; 
    padding: 20px; 
    empty-cells: show; 
    font-family: Lato,sans-serif !important;
  } 

  .pricing_table_d1 table thead tr th  { 
    font-size: 24px; 
    line-height: 24px; 
    font-weight: 400; 
    color: #fff; 
    background-color: #0e2781; 
    padding: 20px; 
    border: none; 
    border-radius: 0; 
    box-shadow: none;
  } 

  table thead tr th.hide2  { 
    background-color: transparent !important; 
    border: none; 
    box-shadow: none;
  } 

  .pricing_table_d1 table thead tr th:nth-child(2n + 1)  { 
    background-color: #2b45a0;
  } 

  th + th  { 
    text-align: center; 
    display: none;
  } 
}     

@media (min-width: 991px){ 
  th + th  { 
    width: auto;
  } 
}     

@media all{ 
  th + th  { 
    width: 33.33%;
  } 

  table thead tr th.default  { 
    position: relative; 
    background: #0b257f; 
    background: -moz-linear-gradient(top,  #0b257f 0%, #205cb1 70%); 
    background: -webkit-linear-gradient(top,  #0b257f 0%,#205cb1 70%); 
    background: linear-gradient(to bottom,  #0b257f 0%,#205cb1 70%); 
    box-shadow: 0 20px 40px rgba(27,111,189,0.4) !important; 
    border-bottom-right-radius: 0;
  } 

  .pricing_table_d1 table thead tr th.default  { 
    background: #0e2781; 
    box-shadow: none !important;
  } 

  td { 
    padding:  3px; 
    border: 1px solid #fcb100; 
    text-align: center;
  } 

  td:first-child { 
    padding-left: 0;
  } 

  td  { 
    height:   53px;
    border:  1px solid #f0f0f4; 
    padding:  10px 30px; 
    empty-cells:  show;
    text-align: left;
  } 
}     

@media (min-width: 991px){ 
  td  { 
    display:  table-cell !important;
    width: 380px;
  } 
}     

@media all{ 
  table tbody tr td  { 
    border-left: none; 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 18px; 
    background: #fff; 
    font-family: 'Open Sans',sans-serif !important;
  } 

  .pricing_table_d1 td  { 
    border: 1px solid #DDD; 
    padding: 20px; 
    empty-cells: show; 
    font-family: Lato,sans-serif !important;
  } 

  .pricing_table_d1 table tbody tr td  { 
    border-left: none; 
    border-right: none; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 18px; 
    background: #fff;
  } 

  table tbody tr:first-child td  { 
    background-color:   #fff; 
    border:  none; 
    padding:  20px 30px;
    font-size: 18px; 
    color: #FFF; 
    line-height: 24px; 
    background: linear-gradient(to right,#039ff5 0,#14cfed 100%)!important;
  } 

  .pricing_table_d1 table tbody tr:first-child td  { 
    font-size: 18px; 
    border: 1px solid #dddddd; 
    color: #555; 
    line-height: 18px; 
    background: #fff !important;
  } 

  td + td  { 
    text-align: center; 
    display: none;
  } 
}     

@media (min-width: 991px){ 
  td + td  { 
    width: auto;
  } 
}     

@media all{ 
  td + td  { 
    width: 33.33%;
  } 

  td.default  { 
    display: table-cell;
  } 

  .sep  { 
    background: linear-gradient(to right,#039ff5 0,#14cfed 100%)!important; 
    font-weight: 400; 
    font-size: 18px; 
    line-height: 18px; 
    color: #fff; 
    padding: 0 30px; 
    font-family: 'Open Sans',sans-serif; 
    border: 1px solid #dddddd;
  } 

  .pricing_table_d1 .sep  { 
    background: #0e2781 !important; 
    font-size: 20px; 
    line-height: 20px; 
    padding: 20px; 
    border: 1px solid #dddddd;
  } 

  .txt-l  { 
    font-size: 28px; 
    font-weight: bold;
  } 

  table tbody tr:first-child td span  { 
    display: block;
  } 

  table tbody tr:first-child td span.txt-l  { 
    font-size: 30px; 
    line-height: 24px; 
    color: #3e7ccc; 
    font-weight: 400;
  } 

  .pricing_table_d1 table tbody tr:first-child td span.txt-l  { 
    font-size: 30px; 
    line-height: 24px; 
    color: #3e7ccc; 
    font-weight: 400;
  } 

  .tick  { 
    font-size: 18px; 
    color: #2CA01C;
  } 

  a { 
    background-color:   transparent;
    color:  #00b2f2; 
    text-decoration:  none;
  } 

  table tbody tr:first-child td span.princing_btn a  { 
    font-size: 12px; 
    line-height: 12px; 
    font-weight: 700; 
    text-transform: uppercase; 
    display: block; 
    padding-top: 15px; 
    color: #555555;
  } 

  a:active,a:hover { 
    outline: 0;
  } 

  a:hover { 
    color:  #23527c; 
    text-decoration:  none;
  } 

  a:hover,a:active { 
    color:  #fcb100;
    outline: 0;
  } 

  img { 
    border:   0;
    vertical-align:  middle;
    height: auto; 
    max-width: 100%;
  } 
}     


